* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.insert-buttons div 
{
	
	width: 30%;
	background-color: green;
}


.operation-buttons div[data-value="="]
{
	background-color: orange;
}

.operation-buttons div 
{
	background-color: darkblue;
	width: 90%;
}

.insert-buttons div,
.operation-buttons div
{
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	cursor: pointer;
	color: white;
	user-select: none;
}


.insert-buttons div.pressed,
.operation-buttons div.pressed
{
	transform: scale(0.95);
}

.operation-buttons 
{
	flex: 1;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.insert-buttons
{
	flex: 4;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-content: center;
	justify-content: center;
}

.button-container 
{
	flex: 3;
	display: flex;
}

.insert-buttons,
.operation-buttons
{

	display: flex;
}


.stored-num 
{
	font-size: 20px;
	color: gray;
}



.num 
{

	font-size: 80px;
}



.input-num-container 
{
	width: 97%;
	height: 80%;
	background-color: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.displayer 
{
	flex: 1;
	background-color: gray;	
	border: 1px solid #111;
	display: flex;
	justify-content: center;
	align-items: center;

}





.calculator 
{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 80%;
	min-width: 200px;
	min-height: 600px;
	border: 1px solid #000;
}
